.left-box {
  margin-top: -20rem;
  margin-left: -30rem;
  width: 380px;
}

.summary {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-top: 2rem;
  font-size: 20px;
}

.edited-box {
  margin-top: 1rem;
}

.edit-textbox {
  margin-top: 1rem;
  width: 290px;
  border: none;
  outline: none;
}

.edit-button,
.save-button,
.cancel-button {
  padding: 6px 10px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  margin-right: 15px;
  color: red;
}

.save-button {
  background-color: #5f9ea0;
  color: white;
}

.cancel-button {
  background-color: #dc143c;
  color: white;
}

.edit-button:hover,
.save-button:hover,
.cancel-button:hover {
  background-color: #ccc;
}